# IDE
.idea
cmake-build-*

# package builder
build
obj-x86_64-linux-gnu

# debhelper
debian/files
debian/.debhelper
debian/debhelper-build-stamp

# sertain service
debian/debtest.substvars
debian/debtest/
debian/*.debhelper
